<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.secondarydb.sys.SysDataExchangeLogSecondarydbRepository">
    <sql id="Base_Column_List">id,exchange_type,exchange_name,source_organ,target_organ,data_size,sync_status,sync_msg,trigger_type,c_time</sql>
    <select id="selectList" resultType="com.primihub.biz.entity.sys.po.SysDataExchangeLog">
        SELECT <include refid="Base_Column_List"/> FROM sys_data_exchange_log WHERE is_del=0 ORDER BY c_time DESC
    </select>
    <select id="selectById" resultType="com.primihub.biz.entity.sys.po.SysDataExchangeLog">
        SELECT <include refid="Base_Column_List"/> FROM sys_data_exchange_log WHERE id=#{id} AND is_del=0
    </select>
</mapper>