<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primihub.biz.repository.secondarydb.sys.SysWhiteListSecondarydbRepository">

    <sql id="Base_Column_List">
        id, wl_type, wl_value, wl_reason, status, creator_id, creator_name, is_del, c_time, u_time
    </sql>

    <select id="selectWhiteListPage" resultType="com.primihub.biz.entity.sys.po.SysWhiteList">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_white_list
        WHERE is_del = 0
        <if test="wlType != null">
            AND wl_type = #{wlType}
        </if>
        <if test="wlValue != null and wlValue != ''">
            AND wl_value LIKE CONCAT('%', #{wlValue}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY c_time DESC
        LIMIT #{pageSize} OFFSET #{pageNum} * #{pageSize} - #{pageSize}
    </select>

    <select id="selectWhiteListCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_white_list
        WHERE is_del = 0
        <if test="wlType != null">
            AND wl_type = #{wlType}
        </if>
        <if test="wlValue != null and wlValue != ''">
            AND wl_value LIKE CONCAT('%', #{wlValue}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <select id="selectWhiteListById" resultType="com.primihub.biz.entity.sys.po.SysWhiteList">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_white_list
        WHERE id = #{id} AND is_del = 0
    </select>

    <select id="selectWhiteListByValue" resultType="com.primihub.biz.entity.sys.po.SysWhiteList">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_white_list
        WHERE wl_value = #{wlValue} AND is_del = 0
        LIMIT 1
    </select>

    <select id="selectWhiteListByType" resultType="com.primihub.biz.entity.sys.po.SysWhiteList">
        SELECT <include refid="Base_Column_List"/>
        FROM sys_white_list
        WHERE wl_type = #{wlType} AND is_del = 0 AND status = 1
    </select>

</mapper>